BETTER_AUTH_SECRET="2e20f532482fdc58c4cd0007433f0e782aee26da25ed49bfbe1e74dd3b130e55"
BETTER_AUTH_URL="https://business.fluxibiz.store"

# Keycloak
KEYCLOAK_CLIENT_ID=fluxipos-client
KEYCLOAK_ISSUER=https://auth.chanchhay.site/realms/istad-fluxipos-auth
API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=https://sb-ite-basic-course-api-production.up.railway.app/ws/notifications-sockjs
