BETTER_AUTH_SECRET="2e20f532482fdc58c4cd0007433f0e782aee26da25ed49bfbe1e74dd3b130e55"
BETTER_AUTH_URL="https://business.fluxibiz.store"

# Keycloak Configuration
KEYCLOAK_CLIENT_ID=fluxipos-client
KEYCLOAK_ISSUER=https://auth.yourdomain.com/realms/your-realm
API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=http://localhost:8080/ws/notifications-sockjs
